/***********Breakpoints**************
X-Small	        None	    <576px
Small	        sm	        ≥576px
Medium	        md	        ≥768px
Large	        lg	        ≥992px
Extra-large     xl	        ≥1200px
Ex-ex-large	    xxl	        ≥1400px 
*************************************/

html{
    font-family: sans-serif;
}


*{
    /* border: 1px solid red; */
}

:root{
    --bg-body: #F8F9FB;
    --bg-section: #1b72e8;
    --bg-icon: #165BBA;
    --bg-sidebar: #051e34;
    --bg-searchbar: #E5E5E5;
    --color-process: #e99800;
    --color-done: #3f8a4b;
    --color-failed: #c63a47;
    --color-class: #dc6a4e;
    --color-icon-grey: #6f747e;
    --color-icon-white: #ffffff;
}

main #sidebar{
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--bg-sidebar);
    background-repeat: no-repeat;
    background-size: cover;
}

#blue-section{
    background-color: var(--bg-section);
}

.fa-pencil,
.fa-trash{
    color: var(--color-icon-grey);
}