/***********Breakpoints**************
X-Small	        None	    <576px
Small	        sm	        ≥576px
Medium	        md	        ≥768px
Large	        lg	        ≥992px
Extra-large     xl	        ≥1200px
Ex-ex-large	    xxl	        ≥1400px 
*************************************/

*{
    /* border: 1px solid red; */
}

html{
    font-family: sans-serif;
}

:root{
    --bg-body: #F8F9FB;
    --bg-section: #1B72E8;
    --bg-icon: #165BBA;
    --bg-sidebar: #051e34;
    --bg-searchbar: #E5E5E5;
    --color-process: #e99800;
    --color-done: #3f8a4b;
    --color-failed: #c63a47;
    --color-class: #dc6a4e;
    --color-icon-grey: #6f747e;
    --color-icon-white: #ffffff;
}

.im-round{
    border-radius: 20px;
}

.im-rounder{
    border-radius: 40px;
}